@charset "UTF-8";


:root {
  --dark-jungle: #081C15;
  --regular-jungle: #1B4332;
  --light-jungle: #2D6A4F;
  --dark-green: #3BA951;
  --spring-green: #4DEE6D;
  --light-green: #7EEE94;
  --dark-honeydew:#52B788;
  --turquoise: #95D5B2;
  --light-honeydew: #D8F3DC;
}

a {
  text-decoration: none;
}

h1, h2, h3 {
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 3rem;
}

p{
    background-color: var(--dark-jungle);
    color: var(--light-honeydew);
    font-weight: 100;
    font-family: "Roboto Mono";
}

/*Navigation Bar*/
.navbar-custom {
  font-family: "Roboto Mono";
  font-weight: 100;
  background-color: var(--dark-jungle);
  padding: 0 0 0 0;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: var(--turquoise) !important;
  background-color: transparent;
}

#nav-content a {
  color: var(--turquoise) !important;
}

#nav-content a:hover {
  color: var(--spring-green) !important;
}

.navbar-brand {
  color: var(--light-jungle);
}

/*Body*/


body{
  background-color: var(--dark-jungle);
  color: var(--light-honeydew);
}

#title {
  /* top | horizontal | bottom */
  padding: 10% 15% 15%;
  font-family: "Roboto Mono";
  font-weight: 100;
}

#intro-text {
  color: var(--spring-green);
}

#intro-name {
  color: var(--dark-honeydew);
  font-size: 4rem;
}

#intro-subtitle {
  font-size: 3.2rem;
  color: var(--regular-jungle);
}

#intro-description {
  color: var(--light-jungle);
  font-weight: 200;
}

/*About page*/
.profile-pic {
  border-radius: 100%;
}

/*Register*/
.register-title {
  margin-left: 16%;
}

/*Work page*/
#work {
  /* top | horizontal | bottom */
  padding: 5% 15% 10%;
  font-family: "Roboto Mono";
  font-weight: 100;
}
#work p, #work a {
  color: var(--dark-green);
  font-weight: 200;
  text-decoration: none;
}

.page-title {
  color: var(--light-green)
}

#work-name {
  color: var(--light-jungle);
}

#job-title {
  color: var(--dark-green);
  font-weight: 200;
}

#job-description {
  color: var(--dark-honeydew)
}

/*footer h1, footer h2, footer h3, footer */


/*Footer*/
footer {
  background-color: var(--dark-jungle);
  font-family: "Roboto Mono";
  font-weight: 100;
}

.footer-custom {
  color: var(--light-jungle); !important;
}

.btn-social {
  border-radius: 100%;
  display: inline-flex;
  width: 3.25rem;
  height: 3.25rem;
  font-size: 1.25rem;
  justify-content: center;
  align-items: center;
  color: var(--light-jungle);
}

.default-section {
  /* top | horizontal | bottom */
  padding: 10% 12% 5%;
}

/*Blog*/
#blog {
  padding: 5% 15% 10%;
  font-family: "Roboto Mono";
  font-weight: 100;
}

.post-title{
    color: var(--light-jungle);
   font-weight: 600;
}

.post-title-2 {
  color: var(--dark-honeydew);
  font-weight: 600;
  text-shadow: 0 0 5px black;
}

.post-subtitle{
  color: var(--turquoise);
  font-weight: 200;
  text-shadow: 0 0 5px black;

}
.post-link a:hover{
  color: var(--turquoise);
}

.blog-post {
  background-image: url('../img/blog-bg.jpg');
  height: auto;
  background-size: cover;
}
.post-title-banner{
  backdrop-filter: blur(5px);
}

.meta {
  text-shadow: 0 0 10px black;
  font-family: "Roboto Mono";
  font-weight: 100;
  color: white;
}